body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333;
	font-size: 20px;
}

main {
	max-width: 480px;
	width: 100%;
	margin: 0 auto;
	padding: 2%;
}

header h2 {
	margin: 0;
	border-bottom: 1px solid #333;
}

div.board {
	margin: 32px 0;

}

.problem-table {
	margin: 16px auto;
	font-size: 36px;
	font-weight: bold;
	border-bottom: 4px solid #333;
}

.problem-table td {
	padding: 8px;
}

.tda,
.tdb {
	text-align: right;
}

/* Hide Arrows/Spinners from number input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form {
	margin: 0 auto;
	width: 200px;
}

.answer-field {
	width: 75px;
	margin-left: 60px;
	font-size: 36px;
	font-weight: bold;
	text-align: right;
}

input[type=submit] {
	margin: 0 0 0 8px;
	padding: 4px 8px;
}

button.start-game {
	display: block;
	margin: 96px auto;
	font-size: 36px;
	font-weight: bold;
	padding: 16px;
}